@import 'vars';
@import 'mixins';

@include main;

section{
	width: 100%;
	padding: 2em 10em;
}
.logo {
	font-size: 2em;
	font-weight: bold;
	span{
		color: $main_red;
	}
}
.intro {
	width: 100vw;
	height: 100vh;
	background: url('../slike/background.jpg');
	@include backgroundSizePrefix(cover);
	header {
		background: white;
		@include clearfix;
		padding: 0.5em;
		.logo {
			float: left;
		}
		nav {
			float: right;
			ul{
				list-style: none;
				li{
					display: inline;
					a {
						text-decoration: none;
						text-transform: uppercase;
						line-height: 3em;
						margin-left: 1em;
					}
				}
			}
		}
	}
	h1 {
		margin: 22% auto 0;
		width: 55%;
		color: #fff;
		font-weight: normal;
		text-align: center;
		font-size: 3em;
		border-bottom: 1px solid $main_red;
	}

	h3 {
		color: #fff;
		font-weight: normal;
		text-align: center;
	}
}
h2 {
	text-align: center;
	text-transform: uppercase;
	padding: 1em;
}
.selection {
	@include clearfix;
	background: $grey_background;
	.column {
		float: left;
		width: 25%;
		text-align: center;
		img {
			width: 100%;
		}
		p {
			padding: 1em;
		}
		a {
			background: $main_red;
			text-decoration: none;
			color: white;
			padding: 0.5em 1em;
		}
	}
}
.pricing {
	table,th,td {
		border-collapse: collapse;
		padding: 0.5em 2em;
		margin: $centerMargin;
	}
	td {
		text-align: center;
		border-bottom: 1px solid $main_text_color;
		&:first-child{
			background: $grey_background;
		}
	}
	thead {
		background: $main_red;
	}
	th {
		color: white;
		&:first-child {
			background: $red_dark;
		}
	}
	.view_on_small {
		display: none;
	}
}
footer {
	width: 100%;
	padding: 2em 10em;
	background: #000;
	@include clearfix;
	.logo {
		font-size: 1em;
		border-bottom: 1px solid $main_red;
		margin-bottom: 2em;
	}
	address {
		float: left;
	}
	.map {
		float: right;
	}
}
@include tablet{
	.selection {
		.column {
			width: 50%;
			margin-bottom: 5em;
		}
	}
	footer {
		text-align: center;
		address{
			float: none;
			margin-bottom: 2em;
		}
		.map {
			float: none;
		}
	}
}

@include phone {
	section {
		padding: 2em 1em;
	}
	.intro {
		height: auto;
		background: #000;
		header {
			.logo {
				float: left;
			}
			nav {
				clear: both;
				text-align: center;
				float: none;
				ul{
					li{
						display: block;
						a {
							text-decoration: none;
							text-transform: uppercase;
							line-height: 3em;
							margin-left: 0em;
						}
					}
				}
			}
		}
		h1 {
			margin: 12% auto 0;
			width: 95%;
		}
	}
	.selection {
		.column {
			width: 100%;
			margin-bottom: 5em;
		}
	}
	.pricing {
		table {
			display: none;
		}
		.view_on_small {
			display: block;
			text-decoration: none;
			text-transform: uppercase;
			color: white;
			background: $main_red;
			text-align: center;
			width: 75%;
			margin: 0 auto;
			padding: 1em 2em;
		}
	}
	footer {
		text-align: center;
		padding: 2em 0;
	}
}